<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTMX - Go - MySQL - OAuth</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="container">
    <div class="box">
        <img class="user-logo" src="{{ .ProfileImageUrl }}">
        <div>
            <p>Display name: {{ .DisplayName }}</p>
            <p>Email: {{ .Email }}</p>
            <p>ID: {{ .ID }}</p>
        </div>
    </div>
    <div hx-get="/commands" hx-trigger="load" id="commands"></div>
    <button hx-post="/auth/logout" class="logout">Logout</button>
</main>
</body>